<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- mysql数据库驱动 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- mysql数据库名称 -->
        <property name="hibernate.connection.url">jdbc:mysql://192.168.195.128:3306/reezhu</property>
        <!-- 数据库的登陆用户名 -->
        <property name="hibernate.connection.username">reezhu</property>
        <!-- 数据库的登陆密码 -->
        <property name="hibernate.connection.password">reezhu</property>
        <!-- 方言：为每一种数据库提供适配器，方便转换 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="org.xjcraft.database.Storage"/>
    </session-factory>
</hibernate-configuration>